@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Parisienne&family=Sriracha&display=swap');






.logo-md {
    padding-right: 100px;
    margin-bottom: 50px;
    padding-right: 50%;
}

h1 {
    text-align: center;
}

h2 {
    color: #495057;
    font-size: 40px;
    font-family: Parisienne;
    word-spacing: 5px;
    text-align: center;



}




div {
    text-align: center;
}


a {
    color: rgb(71, 6, 57);
    text-decoration: none;
    word-spacing: 40px;
    text-align: center;
    margin-left: 30px;
}


.dropdown {
    display: inline-block;
}

.dropdown button {
    background: #e9eccef;
    color: ;
    font-size: 25px;

    border: none;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #495057S;
    min-width: 100px;
    font-size: 25px;
}

.dropdown:hover .content {
    display: block;
    text-align: center;
}

.dropdown:hover button {
    background-color: #e9ecef;
    font-size: 25px;
}

.dropdown a:hover {
    background-color: rgb(81, 61, 100);
    font-size: 25px;
}


form {
    padding: 20px 15px;
    margin-top: 15px;
    text-align: center;

}

input [type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 4px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 16px;
}

label {
    font-size: 25px;
    word-spacing: 25px;
    width: 100;

}

p {
    text-align: center;

}

h3 {
    text-align: center;
    margin: 5px;


}

h4 {
    text-align: center;
}